/* Styling for forms (cause Mantine kinda sucks with tailwind) */
@import "../../App.css";

.mantine-Popover-dropdown {
	border-radius: var(--border-radius);
	/* background-color: var(--digital-white); */
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.mantine-DatePickerInput-day {
	color: var(--charcoal);
	font-size: 0.9em;
}

.mantine-DatePickerInput-day[data-weekend] {
	color: var(--light-grey);
	font-size: 0.9em;
}

.mantine-DatePickerInput-day[data-selected] {
	background-color: var(--primary-orange);
	color: white;
}

.mantine-DatePickerInput-weekday {
	color: var(--charcoal);
	font-weight: 400;
	font-size: 1em;
}

.mantine-DatePickerInput-calendarHeaderLevel {
	color: var(--navy-blue);
	font-weight: 600;
	font-size: 1em;
}

.mantine-DatePickerInput-label {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.6em;
	color: var(--light-grey);
}

.mantine-Input-input.mantine-DatePickerInput-input {
	font-size: 1.2em;
	font-weight: 600;
	color: var(--navy-blue);
}

.filter-container .mantine-Input-input.mantine-DatePickerInput-input {
	min-height: 42.5px;
}

.mantine-Select-label {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.6em;
	color: var(--light-grey);
}

.mantine-TextInput-label {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.6em;
	color: var(--light-grey);
}

.mantine-Modal-header {
	padding-bottom: 0;
	padding-top: 0;
	min-height: 46px;
}

.mantine-Checkbox-input {
	border: 2px solid var(--primary-orange);
}

.mantine-Checkbox-input[data-checked] {
	background-color: var(--primary-orange);
}

.mantine-DatePicker-day {
	color: var(--charcoal);
	font-size: 0.9em;
}

.mantine-DatePicker-day[data-weekend] {
	color: var(--light-grey);
	font-size: 0.9em;
}

.mantine-DatePicker-day[data-selected] {
	background-color: var(--primary-orange);
	color: white;
}

.mantine-DatePicker-weekday {
	color: var(--charcoal);
	font-weight: 400;
	font-size: 1em;
}

.mantine-DatePicker-calendarHeaderLevel {
	color: var(--navy-blue);
	font-weight: 600;
	font-size: 1em;
}

.mantine-DatePicker-day[data-today],
.mantine-DatePickerInput-day[data-today] {
	border: 2px solid var(--primary-orange);
}
