
.background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: url("./assets/404_bg.svg") no-repeat center center;
	background-size: cover;
    display: flex;
}

.container{    
    width: 600px;
    height: 300px; 
    margin: auto; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 12px;
    gap: 30px;
}

.left-col h1{
    color: #EA580C;
    font-size: 10rem;
}

.right-col {
    display: flex;
    font-size: 1rem;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between; 
}

.right-col-buttons{
    display: flex;
    white-space: nowrap;
}
.contact-button {
    color: #EA580C;
    align-self: flex-end;
    padding: 10px 20px; 
}