@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
	--roboto-font: "Inter", sans-serif;
	/* primary colors */
	--primary-orange: #ea580c;
	--hover-orange: #f97316;
	--tail-nav: #a44f00;

	/* background colors */
	--bg-white: #f1f2f4;
	--digital-white: #f5f5f5;
	--egg-white: #f5f5f5;
	--white: #ffffff;

	/* text colors */
	--light-grey: #747474;
	--charcoal: #262626;
	--navy-blue: #172554;

	--border-radius: 6px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--roboto-font);
	font-weight: 400;
	font-size: 16px;
}

.app-container {
	background: url(./assets/poly_background.svg) repeat top left;
	background-size: auto;
}

.app-container-padding {
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 22px /*!important*/;
}

h3 {
	font-size: 20px;
}

.text-navy-blue {
	color: var(--navy-blue);
}

.text-slate {
	color: var(--charcoal);
}

.text-orange-500 {
	color: var(--primary-orange);
}

.bg-dark-orange {
	background-color: #f47a20;
}

.text-white {
	color: #ffffff;
}

.shadow-custom {
	box-shadow: 0px 2px 6px #00000029;
}

.border-custom {
	border-radius: var(--border-radius);
}

/* ------------------------------------------- */

#mobile-nav {
	position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    padding: 0.5rem 1rem;
    left: 20px;
    top: 30px;
    height: 48px;
}

#app-nav {
	position: fixed;
	left: 20px;
	width: 282px;
	height: 100%;
	padding: 30px 0;
	transform: translateX(calc(-100% - 30px));
	transition: transform 0.3s ease;
}

#app-nav.mobileOpen {
	transform: translateX(0);
}

.nav-container {
	background: none;
}

.nav-container .nav-item {
	position: relative;
	width: 100%;
	height: 65px;
	gap: 16px;
	z-index: 1;
	background: none;
	color: var(--charcoal);
	border-radius: var(--border-radius);
	transition: background-color 0.2s ease;
}

.nav-container .nav-item:hover,
.nav-container .nav-item:focus {
	background: rgb(249 115 22 / 80%);
}

.nav-container .nav-item.active,
.nav-container .nav-item.active:hover,
.nav-container .nav-item.active:focus,
.nav-container .nav-item[aria-current="page"] {
	color: #fff;
	background: var(--primary-orange);
}

.nav-container p {
	font-weight: 500;
	letter-spacing: 0.5px;
}

.nav-underlay {
	position: absolute;
	min-width: calc(282px + 14px);
	max-width: calc(282px + 14px);
	object-fit: cover;
	z-index: 0;
	transition: top 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.community-card {
	position: relative;
	width: 174px;
	height: 232px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	row-gap: 20px;
	column-gap: 40px;
	background: #fafafa;
	color: var(--charcoal);
	box-shadow: 0px 2px 6px #00000029;
}

.community-card img {
	position: absolute;
	top: -28px;
	width: 128px;
	height: 128px;
	object-fit: cover;
	border-radius: 20px;
}

.community-card .card-info {
	width: 100%;
	padding: 23px 23px 38px;
}

.community-card .card-info p {
	width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.2;
}

.community-card .card-info p.info-first {
	font-size: 24px;
	font-weight: 700;
	color: #172554;
}

.community-card .card-info p.info-last {
	font-size: 24px;
	font-weight: 500;
	color: var(--primary-orange);
	margin: 4px 0 0;
}

.community-card .card-info p.info-email {
	font-size: 12px;
	font-weight: 400;
}

.delete-modal {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	max-width: 80%;
	border: 1px solid #000;
	min-height: 400px;
}

.profileImg {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.roleTag {
	font-size: 10px;
	font-weight: 700;
	color: white;
	border-radius: 8px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 6px 8px;
	margin-right: 4px;
	margin-bottom: 4px;
	background-color: var(--tag-color, #333); /* Default */
}

.education-input {
	position: relative;
}

.education-input i {
	font-size: 24px;
}

.education-input .education-cap {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	right: 64px;
	top: -8px;
	background: #fff;
}

.education-input input {
	width: 100%;
	display: flex;
	min-height: 46px;
	justify-content: flex-start;
	align-items: center;
	font-weight: 500;
	color: var(--charcoal);
	border: 3px solid var(--charcoal);
	padding: 8px 70px 8px 16px;
	letter-spacing: 0.5px;
}

.education-input input::placeholder {
	color: var(--charcoal);
}

.education-input .square-button {
	color: var(--charcoal);
	background: #e4e4e4;
}

.education-input .square-button.changed-education {
	color: #fff;
	background: var(--primary-orange);
}

.square-button {
	--size: 32px;
	--font-size: 16px;
	font-size: var(--font-size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: var(--border-radius);
}

.square-button i {
	font-size: var(--font-size);
}

/* ------------------------------------- */

.edit-buttons button {
	opacity: 0;
}

.portfolio-card-add {
	color: var(--charcoal);
	background: #fafafa;
}

.portfolio-card-add:hover,
.portfolio-card-add:focus {
	background: #fff;
}

.portfolio-card {
	color: var(--primary-orange);
	background: var(--white);
}

.portfolio-card p {
	color: var(--light-grey);
}

.portfolio-card:hover,
.portfolio-card:focus {
	background: var(--primary-orange);
	box-shadow: 0px 2px 6px #00000080;
}

.portfolio-card:hover,
.portfolio-card:focus {
	color: #fff;
}

.portfolio-card:hover p,
.portfolio-card:focus p {
	color: var(--charcoal);
}

.portfolio-card:hover .edit-buttons button,
.portfolio-card:focus .edit-buttons button {
	opacity: 1;
}

.card-icon {
	font-size: 32px;
}

.portfolio-button-wrap {
	position: relative;
	bottom: 0;
}

.portfolio-card:hover .edit-buttons button:hover i,
.portfolio-card:focus .edit-buttons button:focus i {
	color: rgb(38 38 38 / 65%);
}

button.button-orange {
	font-weight: 500;
	padding: 0.75rem;
	color: #fff;
	background: var(--primary-orange);
	border-radius: var(--border-radius);
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
	box-shadow: 0px 2px 3px #00000080;
}

button.button-thin {
	padding: 0.5rem 0.75rem;
	height: 2.5rem;
}

button.button-wide {
	padding: 0.75rem 1.5rem;
}

button.button-orange:hover,
button.button-orange:focus {
	color: var(--primary-orange);
	background: #fff;
	box-shadow: 0px 2px 6px #00000080;
}

button.button-grey-hover {
	font-weight: 500;
	padding: 0.75rem;
	color: var(--charcoal);
	background: none;
	border-radius: var(--border-radius);
	transition: background-color 0.3s ease, color 0.3s ease;
	/* box-shadow: 0px 2px 6px #00000022; */
}

button.button-grey-hover:hover,
button.button-grey-hover:focus {
	background: #e9ecef;
}

button.button-clear {
	font-weight: 500;
	padding: 0.75rem;
	color: var(--charcoal);
	background: none;
	border-radius: var(--border-radius);
	transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

button.button-clear:hover,
button.button-clear:focus {
	background: #e9ecef;
	box-shadow: 0px 2px 6px #00000080;
}

button.modal-button {
	height: 46px;
	width: 100px;
	padding: 0.25rem 0.75rem;
}

button.button-red {
	font-weight: 500;
	padding: 0.75rem;
	color: #fff;
	background: #e52c03; /* --cancel-red */
	border-radius: var(--border-radius);
	/* transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; */
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

button.button-red:hover,
button.button-red:focus {
	color: #e52c03;
	background: #fff;
	box-shadow: 0px 2px 6px #00000080;
}

button.button-disabled,
.button-disabled,
button.button-disabled:hover,
.button-disabled:hover,
button.button-disabled:focus,
.button-disabled:focus {
	background: #d4d4d4;
	color: var(--charcoal);
	box-shadow: 0px 2px 6px #00000029;
}

.filter-container {
	min-width: 300px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0px 2px 6px #00000029;
	padding: 20px;
}

.filter-wrapper {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 1;
}

.search-bar {
	margin-bottom: 20px;
}

.search-bar h1 {
	font-family: var(--roboto-font);
	color: #2b2b2b;
	margin-bottom: 10px;
	font-size: 1.5em;
}

.filter-bar-text {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.filter-bar-text:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, #F0EFEF 2.73%, rgba(239, 239, 239, 0) 94.81%);
}

.search-input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.filter-section h1 {
	margin-bottom: 10px;
	font-family: var(--roboto-font);
	color: #2b2b2b;
	font-size: 1.5em;
}

.filters {
	display: flex;
	flex-direction: column;
}

.filter-item {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	padding: 5px;
	cursor: pointer;
}

.checkbox {
	height: 20px;
	width: 20px;
	background-color: var(--light-grey);
	border: 1px solid transparent;
	border-radius: 4px;
	margin-right: 10px;
	transition: background-color 0.2s ease;
}

.checkbox.selected {
	background-color: var(--primary-orange);
	border-color: var(--hover-orange);
}

.checkbox:hover,
.checkbox:focus {
	background-color: var(--hover-orange);
}

.filter-item span {
	user-select: none;
	letter-spacing: 0.25px;
}

.about-description,
.about-description textarea {
	background: none;
	height: auto !important;
}

.about-description textarea:focus {
	outline: none;
}

.about-description textarea.description-edit:focus {
	outline: 2px solid var(--primary-orange);
}

.booking-column-container .embla__slide {
	background: none;
}

/* Changed from box-shadow to border because box-shadow was consuming too much resources to render that many */
.booking-column-container .embla__slide .open-booking-slot {
	border-bottom: 1px solid rgb(228 228 228 / 70%);
}

.booking-column-container .embla__slide div:first-of-type > .open-booking-slot {
	border-radius: 12px 12px 0 0;
}

.booking-column-container .embla__slide div:last-of-type > .open-booking-slot {
	border-radius: 0 0 12px 12px;
}

.booking-column-container .embla__slide:nth-child(2n + 1) .open-booking-slot {
	background: #e5e5e5;
    border-bottom: 1px solid #adadad;
}

.booking-column-container .embla__slide:nth-child(2n) .open-booking-slot {
	background: #fff;
}

.booking-column-container
	.embla__slide
	.booking-column.no-permission-column
	.open-booking-slot {
	background: #e5e5e5;
	cursor: not-allowed;
	border-bottom: 1px solid #e5e5e5;
}

.booking-column-container
	.embla__slide:nth-child(2n + 1)
	.booking-column.no-permission-column:not(.currentlyBooking)
	.open-booking-slot:hover,
.booking-column-container
	.embla__slide:nth-child(2n)
	.booking-column.no-permission-column:not(.currentlyBooking)
	.open-booking-slot:hover {
	background: #e5e5e5;
}

.booking-column-container
	.embla__slide:nth-child(2n + 1)
	.booking-column:not(.currentlyBooking)
	.open-booking-slot:hover,
.booking-column-container
	.embla__slide:nth-child(2n)
	.booking-column:not(.currentlyBooking)
	.open-booking-slot:hover {
	background: rgb(249, 115, 22, 70%);
}

.column-booking-card::after {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 10px;
	height: 100%;
	content: "";
	background: var(--primary-orange);
}

.column-booking-card.short-booking-card {
	padding-top: 0;
	padding-bottom: 0;
}

.booking-column-width,
.booking-column .draggable-slot {
	width: 180px;
}

.booking-column .draggable-slot {
	position: absolute;
	left: 0;
	z-index: 2;
	cursor: pointer;
}

.day-list .private-booking {
	color: #ababab;
	background: rgb(171, 171, 171, 0.125);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.bookings-filter {
	margin-bottom: 20px;
}

.radio-button {
	height: 20px;
	width: 20px;
	background-color: var(--light-grey);
	border: 1px solid transparent;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
	transition: background-color 0.2s ease;
}

.radio-button.selected {
	background-color: var(--primary-orange)
}

.radio-button:hover,
.radio-button:focus {
	background-color: var(--hover-orange)
}

.parent-container-events {
    flex-grow: 1;
	margin: 30px 0;
}
.calendarContainer {
	width: 100%;
	height: 600px;
	height: fit-content;
	margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    border-bottom: 80px solid #f5f5f5;
    border-radius: 12px;
	box-shadow: 0px 2px 6px #00000029;
}

.calendarFrame {
	margin-bottom: -80px;
}

.fc-footer-toolbar.fc-toolbar {
	display: none !important;
}

.mantine-Carousel-viewport {
	padding: 10px;
	margin: -10px;
}

.user-tags .mantine-TextInput-input {
	border: 2px solid var(--primary-orange);
	font-weight: 500;
	padding-left: 2rem;
	padding-right: 1rem;
	border-radius: 25px;
	color: var(--charcoal);
	background: none;
	height: 42px;
}

.user-tags .mantine-TextInput-input::placeholder {
	color: var(--charcoal);
}

.user-tags .mantine-Pill-root {
	color: #fff;
	background: var(--primary-orange);
	text-transform: uppercase;
	font-size: 0.825rem;
	font-weight: 500;
	padding-left: 1rem;
	padding-right: 1rem;
	letter-spacing: 0.125px;
	height: 42px;
}

.user-tags .mantine-Pill-root[data-with-remove='true'] {
	padding-left: 1rem;
	padding-right: 0.5rem;
}

.user-tags .mantine-Pill-label {
	display: flex;
	align-items: center;
	height: inherit;
}

.mantine-RichTextEditor-root {
	overflow: auto;
	height: inherit;
}

div .mantine-RichTextEditor-typographyStylesProvider {
	/* height is 100% - the height of the editor header */
	height: calc(100% - 70px);
	/* min-height: 300px; */
}

div .mantine-RichTextEditor-control {
	height: 32px;
	width: 32px;
	color: var(--charcoal);
	background: none;
	border-radius: 5px !important;
	vertical-align: baseline;
	transition: background-color 0.3s ease, color 0.3s ease;
}

div .mantine-RichTextEditor-control:hover,
div .mantine-RichTextEditor-control:focus {
	cursor: pointer;
	background: #e9ecef;
}

div .mantine-RichTextEditor-content {
	min-height: revert;
	height: 100%;
}

.app-container .content-container {
	margin-top: 100px;
}

.bounding-box-white {
	background: #f8f8f8;
}

div.list-booking-item {
	background: #fff;
}

#booking-header {
	margin-top: 110px;
}

.mobile-column {
	flex-direction: column;
}

.booking-options {
	width: 100%;
}

.booking-column-times-container {
	margin-left: 0;
	margin-right: 1rem;
}

.desktop-hidden {
	display: initial;
}

.mobile-hidden {
	display: none;
}

.event-card:after,
.image-overlay:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.image-overlay:after {
	background: rgba(0, 0, 0, 0.15);
}

.eventModal .leftSide img,
.image-overlay:after {
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.eventModal .rightSide {
	color: #172554;
	font-weight: 400;
}

@media (min-width: 500px) {
	.desktop-hidden {
		display: none;
	}
	
	.mobile-hidden {
		display: initial;
	}
}

@media (min-width: 650px) {
	.app-container-padding {
		padding-left: 30px;
		padding-right: 30px;
	}

	#mobile-nav {
		left: 40px;
	}

	.mobile-column {
		flex-direction: row;
	}

	.booking-options {
		width: min-content;
	}

	.booking-column-times-container {
		margin-left: 1rem;
		margin-right: 2rem;
	}

	.booking-column-width,
	.booking-column .draggable-slot {
		width: 220px;
	}

	#app-nav {
		left: 30px;
	}

}

@media (min-width: 1120px) {
	.app-container-padding {
		padding-left: 350px;
	}

	#mobile-nav {
		display: none;
	}

	#app-nav,
	#app-nav.mobileOpen {
		transform: translateX(0);
	}

	.app-container .content-container {
		margin-top: 30px;
	}

	#booking-header {
		margin-top: 30px;
	}

	.booking-column-width,
	.booking-column .draggable-slot {
		width: 260px;
	}
}