@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
	--roboto-font: 'Roboto', sans-serif;
	/* primary colors */
	--primary-orange: #EA580C;
	--hover-orange: #F97316;
	--tail-nav: #A44F00;

	/* background colors */
	--bg-white: #F1F2F4;
	--digital-white: #F5F5F5;
	--egg-white: #F5F5F5;
	--white: #ffffff;

	/* text colors */
	--subdued: #a3a3a3;
	--slate: #262626;
	--navy-blue: #172554;

	--border-radius: 10px;
}

body {
	font-family: var(--roboto-font);
	font-weight: 400;
}

.bg-dark-orange {
	background-color: #f47a20; /* or any dark orange color you prefer */
}

.text-white {
	color: #ffffff;
}

.nav-container {
	background: none;
}

.nav-container .nav-item {
	position: relative;
	height: 65px;
	gap: 16px;
	z-index: 1;
	background: none;
	color: var(--slate);
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	transition: color 0.4s ease;
}

.nav-container .nav-item.active {
	color: #fff;
}

.nav-container .nav-item:hover,
.nav-container .nav-item:focus {
	background: rgb(249 115 22 / 80%);
}

.nav-container .nav-item.active:hover,
.nav-container .nav-item.active:focus {
	color: #fff;
	background: none;
}

.nav-container p {
	font-weight: 500;
	letter-spacing: 0.5px;
}

.nav-underlay {
	position: absolute;
	width: calc(282px + 14px);
	object-fit: cover;
	z-index: 0;
	transition: top 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.delete-modal {
	top: 50%;
    position: relative;
    transform: translateY(-50%);
    max-width: 80%;
    border: 1px solid #000;
    min-height: 400px;
}
/* 
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
} */
